CPU-IPC-COMPARE/.vs
CPU-IPC-COMPARE/Facial Simulation/x64
CPU-IPC-COMPARE/*.zip
CPU-IPC-COMPARE/Facial Simulation/saveScreen*
CPU-IPC-COMPARE/Facial Simulation/saveSurface*
CPU-IPC-COMPARE/Facial Simulation/*.mp4
CPU-IPC-COMPARE/Facial Simulation/tetrahedraMesh
